<div class="row justify-content-center">
    <h1>Results</h1>
</div>

{{#if results}}
<div class="row">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Installs</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.category}}</td>
                <td>{{this.installs}}</td>
                <td>{{this.rating}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="d-flex flex-row justify-content-between">
    {{#if firstpage}}
    <a href="{{ back }}" class="btn btn-primary">Back</a>
    {{else}}
    <a href="{{ back }}" class="btn btn-primary disabled">Back</a>
    {{/if}}

    <code>Page {{ currPage }} of {{ totalPage }}</code>

    {{#if finalpage}}
    <a href="{{ forward }}" class="btn btn-primary">Forward</a>
    {{else}}
    <a href="{{ forward }}" class="btn btn-primary disabled">Forward</a>
    {{/if}}
</div>
<div class="row justify-content-center">
    <a href="/" class="btn btn-primary">Return to search</a>
</div>
{{else}}
<div class="row justify-content-center">
    <h2>No such app found in database</h2>
</div>
{{/if}}